<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width:500px;">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounded-circle" src="/img/logo.jpg" alt="Logo" style="width: 150px;height:150px;display:block;">
                <h3 class="text-uppercase text-center p-4">CRUD con node js y mysql</h3>
            </div>
            <div class="card-body text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus maiores pariatur at placeat vel quam corporis quod odit itaque illum, non neque, perferendis eveniet cupiditate.</p>
                <a href="/add" class="btn btn-primary">Crear una persona</a>
            </div>
        </div>
    </div>
</main>